<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Matt's Weather Report</title>
  </head>
  <body>
    <div class="container">
      <h1>Weather Report</h1>
      <div class="weather-card">
        <h1>Current Weather In <%= city %></h1>
        <p>Temperature: <%= temp %> <%= units %></p>
        <p>Details: <%= weatherDescription %></p>
        <img src="http://openweathermap.org/img/wn/<%= icon %>@2x.png" />
      </div>
    </div>
  </body>
</html>
